<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'singer1.jpg' %>)";>

  <div class="wrapper-grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">

          <h1>Name: <%= @user.name %></h2>
            <h2>Gender: Male</h1>

            </div>

            <div class="col-xs-6">
              <h1>Name: <%= @user.name %></h2>
                <h2>Gender: Male</h1>
                </div>






