<div class="bg-guitar">
  <div class="container">
    <div class="row">

    <div class="col-xs-8">
        <div class="index-title">
          Select your jam
        </div>
        <% @groups.each do |group| %>
        <%= render 'group_card', group: group %>
        <% end %>
      </div>


      <div class="col-xs-4">
      <div class="index-title">
      Filters
      </div>
      <br>
        <label for="sel1">City:</label>
        <select class="form-control" id="sel1">
          <option>Copenhagen  </option>
        </select>

        <label for="sel1">Genre:</label>
        <select class="form-control" id="sel1">
          <option>Rock</option>
        </select>

        <br>
        <button type="button" class="btn btn-primary">Filter</button>
      </div>


    </div>
  </div>
</div>


