<div class="bg-guitar">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="text-center">
          <h1>Select jam session</h1>
        </div>
        <% @groups.each do |group| %>
        <%= render 'group_card', group: group %>
        <% end %>
      </div>


      <div class="filtercard col-xs-4">

        <label for="sel1">City:</label>
        <select class="form-control" id="sel1">
          <option>Copenhagen  </option>
        </select>

        <label for="sel1">Genre:</label>
        <select class="form-control" id="sel1">
          <option>Rock</option>
        </select>



      <button type="button" class="btn btn-primary filter">Filter</button>
    </div>


  </div>
</div>
</div>
</div>

