<br>
<div class="bg-white">
<div class="container">
<h1 class="text-center">Welcome to BandOn</h1>
<h2 class="text-center">The place where you find fellow Jam'ers</h2>
<br>
<br>
<h4 class="text-center content">
BandOn - the meetingplace for music lovers seeking band members to jam with, in studios located near by you.</h4>
<br>
<h4 class="text-center content">Imagine you are 2 or 3 people each playing a different instrument, but missing that 4th person who plays the drums or the percussion, where do you find him or her to form a group and where do you practice?</h4>
<br>
<h4 class="text-center content">BandOn delivers instant access to music players and lovers to join your group making it complete or otherwise just for at good time and opportunity to meet new people, at the push of a few buttons.</h4>
<br>
<h4 class="text-center content">You have access to profile views and available studios near in the city you are staying in, making it possible to find great people to jam with where you live and on the go.</h4>
<br>
<h4 class="text-center content">Go check it out - it ROCKS!</h4>
<br>
<br>
<br>
</div>
</div>
