<br>
<div class="bg-white">
<div class="container">
<h1 class="text-center">Features</h1>
<h2 class="text-center">So what are you getting?</h2>
<br>
<br>
<h4 class="text-center content">
Easy access to thousands of music players and lovers, waiting to join a band and have a kick a** JAM!</h4>
<br>
<h4 class="text-center content">Easy access to hundreds of available studios near you for you to host a Jam, practice or even a studio recording at the click of a button</h4>
<br>
<h4 class="text-center content">Overview of your jams, practice sessions always keeping you sharp and music resumé up to date</h4>
<br>
<h4 class="text-center content">Meet people all over the people with a mutual interest and passion for Jaming away!</h4>
<br>
<h4 class="text-center content">Go check it out - it ROCKS!</h4>
<br>
<br>
<br>
</div>
</div>
