<br>
<div class="container">
<h1 class="text-center">Pricing</h1>
<h2 class="text-center">So what are the price of all this good stuff?</h2>
<br>
<h4 class="text-center content">
ABSOLUTELY NOTHING! It is totally free for you to enjoy at you disposal!</h4>
<br>
<h4 class="text-center content">However we reserve the right to expose you to ads throughout the site, advertising for instruments, events, manufactures and such alike</h4>
<br>
<h4 class="text-center content">We hope you are good with that (you have to be, you don't have a choice) - you might actually see something you like!</h4>
<br>
<h4 class="text-center content">Now what are you waiting for? - jump in and check it out, it ROCKS!</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
