/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #000000;
  height: 100vh;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-log-in {
  background: white;
  height: 100vh;
}
.bg-guitar {
  background-image: image-url("homepage.jpeg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  overflow:scroll;
}
.bg-dashboard {
  background-image: image-url("mic-bkg.jpg");
  background-size: cover;
  background-color: #242540;
}
.bg-group-show {
  background-image: image-url("amplifier.jpg");
  background-size: cover;
  height: 100vh;
  background-color: #242540;
  background-attachment: fixed;
  overflow:scroll;
}

.bg-user-show {
  background-image: image-url("crowd.jpg");
  background-size: cover;
  height: 100vh;
  background-color: #242540;
  background-attachment: fixed;
  overflow:scroll;
}
