.user-bkg-box {
  background-color: rgba(259,259,259,0.7);
  padding: 20px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.user-title {
  font-size: 27px;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
}
.user-summary{
  display: flex;
  margin-left: -40px;
  margin-top: 20px;
}
.user-description {
  margin-left: 20px;
  margin-top: 0px;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  color: #373737;
  padding-left: 5px;
}

.polaroid-image{
  height: 300px;
  width: 250px;
  object-fit: cover;
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.join-group{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-top: 60px;
  position: relative;
  h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 3px;
    margin-top: 50px;
  }
}
.thumb-tack{
  position: absolute;
  top: -20px;
  left: 60px;
}
.band-members{
  width: 70%;
  margin-bottom: 20px;
}
.section-title {
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  hr {
    margin-top: 10px;
  }
}
.member-list{
  display: flex;
}
.member-tag{
  text-align: center;
  margin-right: 15px;
}
.studio-photo{
  width: 80%;
  border: 5px solid white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.studio-description{
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
}
.studio-card{
  position: absolute;
  right: 10px;
  top: 10px;

  height: 130px;
  width: 120px;
  object-fit: cover;
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.user-thumb-tack{
  position: absolute;
  right: 78px;
  top: -30px;
  transform: scale(0.5, 0.5);
}
.user-card-description {
  margin-top: 25px;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 2px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: clip;
  i {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.user-card {
    position: absolute;
    right: 20px;
    top: 80px;
    height: 130px;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
    background: white;
    display: inline;
    float: left;
    margin: 0px 15px 30px;
    padding: 00px 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.index-title {
  font-size: 27px;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
  margin-top: 30px;
}

.group-card {
    height: 175px;
    background-size: cover !important;
    color: white;
    position: relative;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Exo 2', sans-serif;
}

.user-jam {
  margin-left: 20px;
  margin-top: 0px;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  color: #373737;
  padding-left: 5px;
}

.index-jam {
  font-size: 27px;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
}

