.grey-bkg-box {
  background-color: rgba(255,255,255,0.7);
  padding: 20px 20px;
  margin-top: 50px;
}
.group-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
}
.group-summary{
  display: flex;
  margin-left: -40px;
  margin-top: 20px;
}
.polaroid-image{
  height: 300px;
  width: 250px;
  object-fit: cover;
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.band-members{
  width: 70%;
  margin-bottom: 20px;
}
.section-title {
  font-size: 18px;
  text-transform: uppercase;
  hr {
    margin-top: 10px;
  }
}
.member-list{
  display: flex;
}
.member-tag{
  text-align: center;
  margin-right: 15px;
}
.studio-photo{
  width: 70%;

}

