<div class="container">
  <div class="row">
    <div class="col-xs-6">

        <h1>Step 2: Select slot</h1>


      <% @available_slots.each do |slot| %>
      <p> <%= link_to "#{slot.date}", new_group_path(slot_id: slot.id) %> </p>

      <% end %>

    </div>

    <div class = "col-xs-6" style = "background-color: #dedef8;
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

    <div id="map" style="width: 100%; height: 100vh; position: static"></div>

    <% content_for(:after_js) do %>
    <%= javascript_tag do %>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    var styles = <%= render 'mapstyle'%>;
    handler.buildMap({
    provider: {
    styles: styles
  },
  internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
</div>

  </div>
</div>
